.title-styles {
  color: orangered;
  background-color: indigo;
  font-style: italic;
  border: 3px solid orangered;
  border-radius: 6px;
}

.list-gap {
  margin-bottom: 30px;
}

#grand-parent {
  background-color: indigo;
  padding: 10px;
}

#parent {
  background-color: orangered;
  padding: 10px;
}
#petit-fils {
  background-color: white;
}
